@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/d3/d3.v3.js"></script>
<script src="~/Scripts/AngularControllers/Charting.js"></script>
<link href="~/Content/Charts.css" rel="stylesheet" />

<style type="text/css">
    .noSelect {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .inputButton {
        text-align: center;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: lightgray;
    }

    .adjBtns {
        padding-top: 37px;
    }

    .padding {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navTab {
        font-size: 20px;
        font-weight: bold;
    }

    .selected {
        background-color: red !important;
    }

    #progressbar {
        background-color: black;
        padding: 1px;
    }

        #progressbar > div {
            background-color: lawngreen;
            /*width: 40%; /* Adjust with JavaScript */
            height: 10px;
        }
</style>

<!doctype html>
<html ng-app>
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularControllers/MainController.js"></script>
</head>
<body>
    <div ng-controller="TaskCtrl">
        <ul class="nav nav-tabs">
            <li class="{{home_active}}" ng-click="home()"><a href="#" class="navTab">Home</a></li>
            <li class="{{create_active}}" ng-click="create()"><a href="#" class="navTab">New</a></li>
            <li class="{{data_active}}" ng-click="data()"><a href="#" class="navTab">Data</a></li>
        </ul>
        <div id="home" ng:show="home_active == 'active'">
            <div ng-repeat="task in Tasks">
                <table>
                    <tr>
                        <td style="width: 10px">
                            <div class="adjBtns" style="vertical-align: central;" unselectable='on'
                                onselectstart="return false;" onmousedown="return false;">
                                <button type="button" class="btn btn-default" ng-click="moveUp(task)">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </button>
                                <br />
                                <button type="button" class="btn btn-default" ng-click="moveDown(task)">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </button>
                            </div>
                        </td>
                        <td style="width: 320px">
                            <div class="noSelect inputButton"
                                ng-click="taskClick(task)">

                                <h3>{{task.Name}}</h3>
                                <p>{{task.Description}}</p>
                                <p>{{task.HitCount}} / {{task.CompletedAfter}}</p>
                                <div id="progressbar">
                                    <div ng-if="task.ProgressVal <= 100" ng-style="{ width: task.ProgressVal + '%' }"></div>
                                    <div ng-if="task.ProgressVal > 100" style="width: 100%"></div>

                                </div>
                            </div>

                        </td>
                        <td style="width: 10px">
                            <div class="adjBtns">
                                <button type="button" class="btn btn-default" ng-click="edit(task)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <br />
                                <button type="button" class="btn btn-default" ng-click="deleteTask(task)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-default btn-lg" style="margin-left: 178px" ng-click="create()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <div id="create" ng:show="create_active == 'active'" class="padding">
            <div class="row">
                <div class="col-md-2">Name:</div>
                <div class="col-md-4">
                    <input type="text" ng-model="inspectionTask.Name" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">Description:</div>
                <div class="col-md-4">
                    <input type="text" ng-model="inspectionTask.Description" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">Completed after:</div>
                <div class="col-md-4">
                    <table>
                        <tr>
                            <td style="width: 12px; padding: 0px">
                                <input type="radio" style="width: 12px;" value="counter" checked="true" name="completedAfter" />
                            </td>
                            <td style="width: 150px; padding: 0px">
                                <input style="width: 150px" type="text" ng-model="inspectionTask.CompletedAfter" />
                            </td>
                            <td>hits
                            </td>
                            <td style="width: 12px; padding: 0px">
                                <input type="radio" style="width: 12px;" value="never" name="completedAfter" />
                            </td>
                            <td>Never
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">Hit Count:</div>
                <div class="col-md-4">
                    <input type="text" ng-model="inspectionTask.HitCount" />
                </div>
            </div>

            <button type="button" class="btn padding" ng-click="submitTask()">Save Changes / Create</button>
        </div>


        <div id="data" ng:show="data_active == 'active'">
            <div class="row">
                <div class="col-md-4">
                    <div ng-repeat="task in Tasks">
                        <div style="background: lightgray; margin: 10px"
                            class="noSelect"
                            ng-click="toggleSelected(task)"
                            ng-class="{'not-selected': !task.selected, 'selected': task.selected}">
                            {{task.Name}} - {{task.Description}}
                            <input type="hidden" value="{{task.ID}}" />
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn padding" ng-click="plot()">Plot</button>
            @*<div class="col-md-4">
                    <div id="chart"></div>
                </div>*@
            <div>
                <div id="chart"></div>
            </div>
        </div>
    </div>
</body>
</html>
