<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CustomDataSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <CustomDataSet.Properties.Settings>
      <setting name="LastFilepath" serializeAs="String">
        <value />
      </setting>
    </CustomDataSet.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings><!--connectionString="metadata=res://*/TaskCollectorModel.csdl|res://*/TaskCollectorModel.ssdl|res://*/TaskCollectorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gyudbgj7jz.database.windows.net;initial catalog=Workbench;persist security info=True;user id=amichai;password=***********;MultipleActiveResultSets=True;App=EntityFramework&quot;"-->
    
  <add name="TaskCollectorEntities" connectionString="metadata=res://*/TaskCollectorModel.csdl|res://*/TaskCollectorModel.ssdl|res://*/TaskCollectorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iyx0gn60gk.database.windows.net,1433;initial catalog=TaskCollector;persist security info=True;user id=amichai;password=azurepass0101!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>